<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @office_blog.title %>
</p>

<%= link_to 'Edit', edit_office_blog_path(@office_blog) %> |
<%= link_to 'Back', office_blogs_path %>
